/* 
.swiper-container {
    background-color: #f1f1f1;
  }
  
  .swiper-slide {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
   */
